@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
 
  font-weight: normal;
}
.box_shadow_1{
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.primary_btn{
  background: linear-gradient(48.06deg, #F7E93F 16.53%, #FB09B4 49.82%, #9100F8 81.65%);
  padding: 10px 20px;
  border-radius: 20px;
}
.badgerer {
    top: 13px;
    right: 22px;
    border-radius: 20px;
    box-shadow: 0px 3px 27px 0 rgba(0, 255, 136, 0.25);
}