@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
 
  font-weight: normal;
}
.box_shadow_1{
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.primary_btn{
  background: linear-gradient(48.06deg, #F7E93F 16.53%, #FB09B4 49.82%, #9100F8 81.65%);
  padding: 10px 20px;
  border-radius: 20px;
  transition: transform 0.2s ease;

  /* 3. Link the animation */
}
/* Optional: Slight pop on hover */
.primary_btn:hover {
  transform: scale(1.05);
}
.badgerer {
    top: 13px;
    right: 22px;
    border-radius: 20px;
    box-shadow: 0px 3px 27px 0 rgba(0, 255, 136, 0.25);
}
section.about_podcast p {
    max-width: 80%;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 15px;

}
@media screen and (max-width:576px){
  h2{
    font-size: 32px;
  }
  h1{
    font-size: 40px;
  }
  p{
    line-height: 23px;
  }
  section.about_podcast,section.why_choose,.fetured {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.authorsec, .footer_sec{
      padding-left: 20px;
    padding-right: 20px;
}
section.pb-28.authorsec .flex.items-center.justify-center.gap-8 {
    flex-direction: column;
     text-align: center;
}

section.fetured.py-32.px-48 .grid.grid-cols-3.gap-8.mt-10 {
    grid-template-columns: 100%;
}
.authorsec .min-w-\[200px\] {
    max-width: 150px !important;
    min-width: 150px !important;
}
.authorsec img.w-\[200px\].h-\[200px\] {
    width: 150px;
    height: 150px;
}
.flex_fcier{
  justify-content: center;
}
.badgerer {
    top: 0;
    right: 0;
}
.flex.text-white.justify-between.items-center.py-\[30px\].px-\[200px\].border-b.border-\[\#412567\] img {
    max-width: 140px;
}
.flex.text-white.justify-between.items-center.py-\[30px\].px-\[200px\].border-b.border-\[\#412567\] {
    justify-content: flex-start ! IMPORTANT;
    /* ALIGN-ITEMS: flex-start; */
    padding: 20px;
}
section.text-center.banner_sec.bg-\[url\(\.\/assets\/hero-bg\.png\)\].py-\[100px\].bg-center-center {
    padding-top: 50px;
    padding-bottom: 50px;
    background-position-x: inherit;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 70px;
}
header nav, header a {
    display: none;
}
.grid.justify-center.items-center.max-w-\[350px\].h-\[350px\].bg-\[url\(\.\/assets\/hero-circle\.png\)\].m-auto.round-\[50\%\].relative img {
    max-width: 60px;
    /* height: 80px; */
    /* grid-template-columns: 100%; */
    /* object-fit: fill; */
    padding: 0;
}
.grid.justify-center.items-center.max-w-\[350px\].h-\[350px\].bg-\[url\(\.\/assets\/hero-circle\.png\)\].m-auto.round-\[50\%\].relative {
    width: 200px;
    height: 200px;
    background-size: 100%;
}
    .footer_sec {
        background-size: 135%;
        background-repeat: no-repeat;
        background-position: center !important;
        background-color: #210e3e;
        padding-top: 50px;
        padding-bottom: 50px;
        background-position-y: 35px !important;
    }
.footer_sec img {
    max-width: 220px;
}
section.pb-28.authorsec .flex.items-center.justify-center.gap-8 p {
    text-align: center;
}
.footer_sec .flex.gap-12.justify-center.items-center.mt-8.mb-8 {
    flex-wrap: wrap;
    max-width: 60%;
    margin: auto;
    gap: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}
h4{
  font-size: 20px;
}
section.about_podcast p {
    max-width: 100%;
}
section.about_podcast .flex.justify-between.items-center p.w-full.text-center.text-\[\#00FF88\].text-5xl.font-black.tracking-wider {
    font-size: 40px;
}
.bg-\[rgba\(53\,17\,101\,0\.4\)\].text-white.px-10.py-28.rounded-\[40px\].items-center.justify-start.min-h-\[200px\].box_shadow_1{
  padding-top: 40px;
  padding-bottom: 40px;
}
    .rounder_fixer {
        border-radius: 24px !important;
        padding: 29px !important;
    }
    section.about_podcast.w-full.bg-\[\#1A0B2E\].px-48.py-28 .flex.justify-between.items-center {
        flex-wrap: wrap;
        gap: 30px;
        justify-content: space-around;
    }
    a.absolute.top-6.right-5{
  opacity: 1 !important;
}
}
@media screen and (min-width: 577px) and (max-width: 992px){

}
a.absolute.top-6.right-5{
  opacity: 0;
}
/* 4. Define the movement */
@keyframes spring-tilt {
  0% { transform: rotate(0deg); }
  30% { transform: rotate(20deg); }  /* Swing right */
  60% { transform: rotate(-5deg); } /* Slight recoil left */
  100% { transform: rotate(0deg); }  /* Settle */
}
.imageani:hover {
  animation: spring-tilt  0.4s ease-in-out;
}